services:
  badmerging:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        BASE_IMAGE: nvidia/cuda:12.1.1-cudnn8-runtime-ubuntu22.04
        USERNAME: app
        UID: 1000
        GID: 1000

    container_name: badmerging
    working_dir: /app

    entrypoint: ["/usr/bin/bash", "/app/scripts/withlog.sh"]
    command: ["bash", "-lc", "sleep infinity"]

    volumes:
      - ./:/app
      - ./logs:/app/logs
      - ./results:/app/results
      - ./data:/app/data
      - ./checkpoints:/app/checkpoints
      - ./shadow_head:/app/shadow_head
      - ./trigger:/app/trigger
      - ./_cache:/app/.cache

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

    shm_size: "8gb"
    tty: true
    stdin_open: true
